
/* Portfolio Page */
.box {
    direction: flex;
    flex-wrap: wrap;
}

/* Page Background */
html {
    background-image: url(../images/F1_Cover.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    position: center;
    width: 100%;
}

/* Name in Top Left */
h1 {
    position: relative;
    z-index: 1;
    width: 225px;
    border: 2px solid black;
    padding: 5px;       
    margin: 1px;
    font-size: 32px;
    background-color: red;
    border-style: inset;
    border-radius: 5px;
    left: 5px;
    text-align: center;
    top: 0px;
}

/* Index Image */
.profile {
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    padding: 20px;
}

/* H2 Sizing */
h2 {
    font-size: 24px;
    border-bottom: 2px solid black;
}

/* Navigation Bar */    
ul {
    list-style-type: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: red;
    border-style: inset;
    border-radius: 5px;
    border: 2px solid black;
}

/* Navigation Items */
li {
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    float: right;
    border-right: 1px solid black;
}

/* Page Container */
#page_container {
    position: relative;
    top: 100px;
    width: 960px;
    height: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 0 auto;
    padding: 20px;
}

/* Porfolio */
#portfolio {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 100px;
    width: 960px;
    height: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 0 auto;
    padding: 20px;
}

.box_1 {
    width: 50%;
}
.box_2 {
    width: 50%;
}

.box_3 {
    width: 50%;
}

.box_4 {
    width: 50%;
}

.box_5 {
    width: 50%;
}

/* Contact Page */

/* Text type and texy area styling */
input[type=text], textarea {
    position: relative;
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
  }
  
/* Submit button */
input[type=submit] {
    background-color: rgb(214, 0, 0);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Mouse hover over submit */
input[type=submit]:hover {
    background-color: rgb(250, 0, 0);
}

footer {
    position: fixed;
    display: block;
    width: 100%;
    bottom: 0;
    background-color: red;
    border: 2px solid black;
    text-align: center;
    border-style: inset;
    left: 0;
}

