
/* General Items (Headings, XYZ) */
html {
    background-image: url(../images/F1_Cover.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    position: center;
}

h1 {
    position: fixed;
    z-index: 1;
    width: 225px;
    border: 2px solid black;
    padding: 10px;
    margin: 1px;
    font-size: 32px;
    background-color: red;
    border-style: inset;
    border-radius: 5px;
    left: 5px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #f2f2f2;
    border-style: inset;
}

li {
    display: flex;
    flex-direction: row;
    color: red;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    float: right;
}

#form_container {
    position: relative;
    top: 100px;
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 0 auto;
    padding: 30px;
}

#header {
    position: flex;
    flex-direction: row;
    left: 50px;
    width: 175px;
    padding: 20px;
    background-color: rgb(250, 0, 0);
    border-color: black;
    border: 1px solid black;
    border-radius: 5px;
}

/* Contact Page */

/* Text type and texy area styling */
input[type=text], textarea {
    position: relative;
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
  }
  
/* Submit button */
input[type=submit] {
    background-color: rgb(214, 0, 0);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Mouse hover over submit */
input[type=submit]:hover {
    background-color: rgb(250, 0, 0);
}


